<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.bwr.demo.blog.dao.UserDao">
	<insert id="save" parameterType="indi.bwr.demo.blog.entity.User">
		insert into t_account(username,password,age) values(#{username},#
		{password},#{age})
	</insert>
	<update id="update" parameterType="indi.bwr.demo.blog.entity.User">
		update t_account set username = #{username},password = #{password},age
		= #{age} where id = #{id}
	</update>
	<delete id="deleteById" parameterType="long">
		delete from t_account where id = #{id}
	</delete>
	<select id="findAll" resultType="indi.bwr.demo.blog.entity.User">
		select * from t_account
	</select>
	<select id="findById" parameterType="long"
		resultType="indi.bwr.demo.blog.entity.User">
		select * from t_account where id = #{id}
	</select>
</mapper>